<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Zero1\OpenPos\Helper\ModuleIntegration">
        <arguments>
            <argument name="openPosModules" xsi:type="array">
                <item name="Zero1_PosPayCard" xsi:type="string">Zero1_PosPayCard</item>
            </argument>
        </arguments>
    </type>

    <type name="Zero1\OpenPos\Helper\Payments">
        <arguments>
            <argument name="methods" xsi:type="array">
                <item name="openpos_pay_card" xsi:type="array">
                    <item name="code" xsi:type="string">openpos_pay_card</item>
                    <item name="label" xsi:type="string">Offline card payment</item>
                    <item name="module" xsi:type="string">Zero1_PosPayCard</item>
                    <item name="canUseForLayaways" xsi:type="boolean">true</item>
                    <item name="canUseForSplitPayments" xsi:type="boolean">true</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>