<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Zero1\OpenPos\Helper\ModuleIntegration">
        <arguments>
            <argument name="openPosModules" xsi:type="array">
                <item name="Zero1_PosPayCard" xsi:type="string">Zero1_PosPayCard</item>
            </argument>
        </arguments>
    </type>
</config>